.project {
  padding:20px;
  margin:20px;
  background-color: darkolivegreen;
  min-height:325px;
}

.project-title {
  font-size:20px;
  background-color: red;
  padding:10px;
}

.project-img {
  float: left;
}

.project-desc {
  padding:15px;
}
