<div class="project">
  <div class="project-img">
    <img src="./assets/igt.png">
    <div class="project-links">
      <div class="project-link">
        test
      </div>
    </div>
  </div>
  <div class="project-desc">
    <div class="project-title">
      IGT: Aurora Performance Intel
    </div>
    <div class="project-subtitle">
      Ionic, Spring Boot
    </div>
    <p>
      This is an extra long description of the project. This project will consist of a breif summary of what it was,
      what my role was, and the tech used.
    </p>
  </div>
</div>
