.login-box {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30.0rem;
    height: 0px;
}

.login-error {
    color: rgb(230, 0, 0);
    margin: .5rem;
}
