<div class="project">
  <div class="project-img">
    <img [src]=project.image>
    <div class="project-links">
      <div class="project-link" (click)="openLink('project.repoLink')">
        More Information
      </div>
      <div class="project-link" (click)="openLink('project.repoLink')">
        View Code
      </div>
    </div>
  </div>
  <div class="project-desc">
    <div class="project-title">
      {{ project.title }}
    </div>
    <div class="project-subtitle">
      {{ project.subtitle }}
    </div>
    <p>
      {{ project.description }}
    </p>
  </div>
</div>
